{% extends "base.html" %}
{% block content %}

<div id="info">
    <h3>Hello, {{ user['name'] }}.</h3>
    <a href="/logout" id="logout">Log out</a>
    <!-- Facebook Logout link -->
    <script>
        document.getElementById('logout').onclick = function () {
            FB.logout(function (response) {
            });
        };
    </script>
    <div id="event_import">
        <!-- Event Import Form -->
        <form id="event_import_form" action="{{ url_for('importevent') }}" method="post">
            <label>Enter an event:<br>
                <input type="text" name="event_url"></label>
            <button type="submit" name="submit">Import</button>
            <p id="error"></p>
        </form>
    </div>
    <div id="fb_pic"></div>
    <h3 id="name"></h3>
    <p id="properties"></p>
    <p id="type"></p>
</div>
<svg width="100%" height="100vh"></svg>

{% endblock %}
{% block pagescript %}
<script src="/static/js/d3.v4.min.js"></script>
<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
<script>
    var focus_node = null,
        highlight_node = null,
        highlight_color = "#d32f2f",
        highlight_trans = 0.1,
        outline = false,
        timeStamp = Math.floor(Date.now() / 1000),
        dataSource = "/static/data/neo4j2d3_new.json" + "?time=" + timeStamp,
        width = $('body').width(),
        height = $('body').height(),
        svg = d3.select("svg")
        .attr("width", width)
        .attr("height", height)
        .call(d3.zoom().on("zoom", function () {
           svg.selectAll('g').attr("transform", d3.event.transform)
        }));

    // D3 force layout
    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink()
            .distance(function (d) {
                return (3 - (d.value / 3)) * 55;
            })
            .strength(function (d) {
                return (3 - (d.value / 3)) * 0.5;
            })
            .id(function (d) {
                return d.id;
            }))
        .force("center", d3.forceCenter(width / 2, height / 2));

    d3.json(dataSource, function (error, graph) {
        if (error) throw error;

        var link = svg.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(graph.links)
            .enter().append("line")
            .attr("stroke", function (d) {
                var colorstroke;
                //different edge colors based on edge value
                switch (d.value) {
                    case 1:
                        colorstroke = "#CCC";
                        break;
                    case 2:
                        colorstroke = "#ffa726";
                        break;
                    case 3:
                        colorstroke = "#b2ff59";
                        break;
                    default:
                        colorstroke = "#CCC";
                }
                return colorstroke;
            });

        var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("circle")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("r", function (d) {
                return (d.group === 0 ? 30 : 10);
            })
            .attr("fill", function (d) {
                return (d.group === 0 ? '#fdd835' : '#90caf9');
            })
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
//                .on("end", dragended)
            );

        //show the node's name property on hover
        node.append("title")
            .text(function (d) {
                return d.name;
            });

        //add click function to nodes
        node.on("click", showinfo);

        //show the link's rsvp property on hover
        link.append("title")
            .text(function (d) {
                return d.rsvp;
            });

        //add click function to links
        link.on("click", showinfo);

        simulation
            .nodes(graph.nodes)
            .on("tick", ticked);

        simulation.force("link")
            .links(graph.links);

        simulation
            .force("charge", d3.forceManyBody())
            .force('collision', d3.forceCollide()
                .radius(function (d) {
                    return (d.group === 0 ? 20 : 12);
                }));

        // adding neighboring nodes highlighting
        var tocolor = "fill";
        var towhite = "stroke";
        if (outline) {
            tocolor = "stroke";
            towhite = "fill"
        }
        
        var linkedByIndex = {};
        graph.links.forEach(function(d) {
        linkedByIndex[d.source + "," + d.target] = true;
        });
    
        function isConnected(a, b) {
            return linkedByIndex[a.index + "," + b.index] || linkedByIndex[b.index + "," + a.index] || a.index === b.index;
        }
    
        node.on("mouseover", function(d) {
            set_highlight(d);
            })
            .on("mousedown", function (d) {
                d3.event.stopPropagation();
              focus_node = d;
                set_focus(d);
            if (highlight_node === null) set_highlight(d)
            
        }	).on("mouseout", function(d) {
                exit_highlight();
        
        }	);
        
                d3.select(window).on("mouseup",  
                function() {
                if (focus_node !== null) {
                    focus_node = null;
                    if (highlight_trans < 1) {
                        node.style("opacity", 1);
                        link.style("opacity", 1);
            }
                }
            
            if (highlight_node === null) exit_highlight();
                });
        
        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }

//        function dragended(d) {
//            //keeps the nodes unlocked after dragging
//            if (!d3.event.active) simulation.alphaTarget(0);
//            d.fx = null;
//            d.fy = null;
//        }

        function exit_highlight() {
                highlight_node = null;
            if (focus_node === null) {
                svg.style("cursor","move");
                if (highlight_color !== "white") {
                node.style(towhite, "white");
                link.style("stroke", function (d) {
                    var colorstroke;
                    //different edge colors based on edge value
                    switch (d.value) {
                        case 1:
                            colorstroke = "#CCC";
                            break;
                        case 2:
                            colorstroke = "#ffa726";
                            break;
                        case 3:
                            colorstroke = "#b2ff59";
                            break;
                        default:
                            colorstroke = "#CCC";
                    }
                    return colorstroke;
                    });
         }
                    
            }
        }
        
        function set_focus(d) {
        if (highlight_trans<1)  {
            node.style("opacity", function(o) {
                        return isConnected(d, o) ? 1 : highlight_trans;
                    });
        
                    link.style("opacity", function(o) {
                    return o.source.index === d.index || o.target.index === d.index ? 1 : highlight_trans;
                    });		
            }
        }
        
        function set_highlight(d) {
            svg.style("cursor","pointer");
            if (focus_node!==null) d = focus_node;
            highlight_node = d;
        
            if (highlight_color !== "white") {
                  node.style(towhite, function(o) {
                    return isConnected(d, o) ? highlight_color : "white";
                });
                    link.style("stroke", function(o) {
                    return o.source.index === d.index || o.target.index === d.index ? highlight_color : (
                        function (d) {
                            var colorstroke;
                            //different edge colors based on edge value
                            switch (d.value) {
                                case 1:
                                    colorstroke = "#CCC";
                                    break;
                                case 2:
                                    colorstroke = "#ffa726";
                                    break;
                                case 3:
                                    colorstroke = "#b2ff59";
                                    break;
                                default:
                                    colorstroke = "#CCC";
                            }
                            return colorstroke;
                        }
                    );
        
                    });
            }
        }

        function ticked() {
            link
                .attr("x1", function (d) {
                    return d.source.x;
                })
                .attr("y1", function (d) {
                    return d.source.y;
                })
                .attr("x2", function (d) {
                    return d.target.x;
                })
                .attr("y2", function (d) {
                    return d.target.y;
                });

            node
                .attr("cx", function (d) {
                    return d.x;
                })
                .attr("cy", function (d) {
                    return d.y;
                });
        }
    });

    function showinfo(d) {
        //display info about nodes and edges in info box when clicked
        var nameTxt = $('#name'),
            propTxt = $('#properties'),
            typeTxt = $('#type'),
            fbPic = $('#fb_pic');
        //remove selected class from all other elements
        $('.nodes circle, .links line').not(this).removeClass("selected");

        if (!$(this).is('.selected')) {
            //if the clicked element doesn't have the selected class, add it
            this.setAttribute('class', "selected");

            if (d.id) {
                console.log('node');
                nameTxt.html('<b>Node:</b> <a href="https://www.facebook.com/' + d.id + '" target="_blank">' + d.name + '</a>');
                propTxt.html('<b>ID</b>: ' + d.id);
                typeTxt.html('<b>Type</b>: ' + (d.group === 0 ? 'Event' : 'Guest'));
                fbPic.css({'background-image': 'url("https://graph.facebook.com/' + d.id + '/picture?type=large&width")'});
            } else {
                console.log('edge');
                nameTxt.html('<b>Edge</b>: ' + d.rsvp);
                propTxt.html('<b>Source:</b> ' + (d.source.group === 0 ? 'Event - ' : 'Guest - ') + ' ' + d.source.name);
                typeTxt.html('<b>Target:</b> ' + (d.target.group === 0 ? 'Event - ' : 'Guest - ') + ' ' + d.target.name);
                fbPic.css({'background-image': ''});
            }

            console.log(d);

        } else {
            //if the clicked element has the selected class remove it
            $(this).removeClass('selected');
            //remove the information about the previous selected element
            nameTxt.html('');
            propTxt.html('');
            typeTxt.html('');
            fbPic.css({'background-image': ''});
        }
    }

    $(document).ready(function () {
        var eventURL = $('[name="event_url"]'),
            errorMsg = $('#error'),
            submitBtn = $('[name="submit"]');

        eventURL.focus(function () {
            //reset the error message when clicking on the input
            errorMsg.text('');
        });

        $('#event_import_form').submit(function (e) {
            //validate the event import forms
            eventURLval = eventURL.val();
            eventURLval = eventURLval.trim();
            //regex to ensure valid event URL
            if (eventURLval.length && /^(https?:\/\/)?(www\.)?facebook.com\/events\/\d{15,}(\/)?/.test(eventURLval)) {
                var eventID = eventURLval.substring(eventURLval.lastIndexOf("events/") + 7, eventURLval.lastIndexOf('/'));
                //gets the event ID from the URL
                eventURL.val(eventID);
                submitBtn.attr('disabled', true);

            } else {
                //post error message if not a valid event URL
                e.preventDefault();
                errorMsg.text('Please enter a valid Facebook event');
                return false;
            }
        });
    });

</script>
{% endblock %}